# 1. 접근만

In [ ]:
x = int(input('분자'))
y = int(input('분모'))

a = x//y
b = x%y
print('나눈 몫은 {}입니다. 나머지는 {}입니다.'.format(a,b))

분자25
분모10
나눈 몫은 2입니다. 나머지는 5입니다.

In [ ]:
# 접근만 하는 것
def work(g):
  total_E=0
  def force(x,y):
    #nonlocal total_E
    test = total_E + (x*y)
    return test
  return force

In [ ]:
work10 = work(10)
print(work10(2,3))

6

# 2. 값을 바꿀 때

In [ ]:
# 값을 바꿀 때
def work(g):
  total_E=0
  def force(x,y):
    #nonlocal total_E
    total_E += (x*y)
    return total_E
  return force

In [ ]:
work10 = work(10) # 에러가 왜 나나요?
print(work10(2,3))

# 앞 함수에서 정의된 값을 바꾸려고 할 때 nonlocal : 뒤섞어서 쓴 팀이 있지만, 일단 감점 안했음.

In [ ]:
# 값을 바꿀 때
def work(g):
  total_E=0
  def force(x,y):
    nonlocal total_E
    total_E += (x*y)
    return total_E
  return force

## Q: 그럼 이건 왜 될까?

In [ ]:

def test(A,B) :
  Q = 0
  def test_inner() :
    Q = (A**2 + B**2 )**0.5
    return Q
  return test_inner

temp_answer = test(10,10)
temp_answer()

14.142135623730951